<mat-toolbar>
    <button mat-icon-button (click)="backToRecipes()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>
        <button mat-button (click)="addToShoppingList()">Add to Cart</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editRecipe()">Edit</button>
            <button mat-menu-item (click)="openDialog()">Delete</button>
          </mat-menu>
    </span>
</mat-toolbar>
<div>
    <h2>{{recipe.name}}</h2>
    <mat-divider></mat-divider>
    <h3>{{recipe.description}}</h3>
    <mat-divider></mat-divider>
    <div>
        <h3>Ingredients</h3>
        <ul id="ingredientList">
            <!-- TODO: Render the measurement 1/2 when the value is .5, 3 1/2 when the value is 3.5, etc. -->
             <!-- TODO: Render the measurement as cups when there are more than one cup, etc. -->
            <li *ngFor="let ingredient of recipe.ingredients"><span class="ingredientMeasurement">{{ingredient.quantity}} {{ingredient.measurement}}</span><span>{{ingredient.name}}</span></li>
        </ul>
    </div>
    <div>
        <h3>Instructions</h3>
        <ol id="instructionList">
            <li *ngFor="let instruction of recipe.instructions">{{instruction}}</li>
        </ol>
    </div>
</div>