.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-divider {
  background-color: black;
}

#addRecipeButton {
  width: 80%;
}

#topButtons {
  display: flex;
  justify-content: center;
}