<div class="top-buttons">
    <button mat-raised-button extended (click)="openAddDialog()">
        <mat-icon>favorite</mat-icon>
        Add
    </button>
    <button mat-raised-button extended (click)="openVerifyDialog()">
        <mat-icon>check</mat-icon>
        Verify
    </button>
    <button mat-raised-button extended [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openUploadDialog()">Upload List</button>
        <button mat-menu-item (click)="downloadList()">Download List</button>
    </mat-menu>
</div>

<div>
    <app-list-item *ngFor="let item of items" [item]="item"></app-list-item>
</div>

<div class="bottom-buttons" *ngIf="items.length > 0">
    <button mat-raised-button extended (click)="clearList()">
        <mat-icon>delete_forever</mat-icon>
        Clear All
    </button>
    <button mat-raised-button extended (click)="clearInCart()">
        <mat-icon>delete_forever</mat-icon>
        Clear In Cart
    </button>
</div>

<h2 *ngIf="items.length <= 0">The shopping list is empty!</h2>